export(anovatable)
export(betadistribution)
export(betabinomial)
export(binomialbeta)
export(binomialdistribution)
export(cdf.betabinomial)
export(cdf.betadistribution)
export(cdf.binomialdistribution)
export(cdf.default)
export(cdf.discretedistribution)
export(cdf.expgamma)
export(cdf.fdistribution)
export(cdf.gammadistribution)
export(cdf.normal)
export(cdf.poissondistribution)
export(cdf)
export(cdf.tdistribution)
export(cdf.uniformdistribution)
export(compose)
export(compose.default)
export(compose.discretedistribution)
export(compose.uniformdistribution)
export(conditional.default)
export(conditional.binomialbeta)
export(conditional.mdiscretedistribution)
export(conditional.mnormalexpgamma)
export(conditional.mnormalgamma)
export(conditional.mnormal)
export(conditional.mtdistribution)
export(conditional.muniformdistribution)
export(conditional.normalexpgamma)
export(conditional.normalgamma)
export(conditional)
export(contrast.default)
export(contrast.mnormalexpgamma)
export(contrast.mnormalgamma)
export(contrast)
export(credibilityinterval.default)
export(credibilityinterval.expgamma)
export(credibilityinterval.fdistribution)
export(credibilityinterval.gammadistribution)
export(credibilityinterval.normal)
export(credibilityinterval)
export(credibilityinterval.tdistribution)
export(designBalanced)
export(designFactorial)
export(designManyGroups)
export(designOneGroup)
export(designTwoGroups)
export(difference.default)
export(difference.normal)
export(difference)
export(difference.tdistribution)
export(discretedistribution)
export(expectation.betadistribution)
export(expectation.betabinomial)
export(expectation.binomialdistribution)
export(expectation.default)
export(expectation.discretedistribution)
export(expectation.expgamma)
export(expectation.fdistribution)
export(expectation.gammadistribution)
export(expectation.mdiscretedistribution)
export(expectation.mnormalexpgamma)
export(expectation.mnormalgamma)
export(expectation.mnormal)
export(expectation.mtdistribution)
export(expectation.muniformdistribution)
export(expectation.normalexpgamma)
export(expectation.normalgamma)
export(expectation.normal)
export(expectation.poissondistribution)
export(expectation)
export(expectation.tdistribution)
export(expectation.uniformdistribution)
export(expgamma)
export(fdistribution)
export(fittedvalues)
export(gammadistribution)
export(invcdf.betadistribution)
export(invcdf.binomialdistribution)
export(invcdf.default)
export(invcdf.discretedistribution)
export(invcdf.expgamma)
export(invcdf.fdistribution)
export(invcdf.gammadistribution)
export(invcdf.normal)
export(invcdf.poissondistribution)
export(invcdf)
export(invcdf.tdistribution)
export(invcdf.uniformdistribution)
export(leastsquares)
export(linearmodel)
export(linearpredict.default)
export(linearpredict.mnormalexpgamma)
export(linearpredict.mnormalgamma)
export(linearpredict.mnormal)
export(linearpredict.normalexpgamma)
export(linearpredict.normalgamma)
export(linearpredict.normal)
export(linearpredict)
export(marginal.default)
export(marginal.binomialbeta)
export(marginal.mdiscretedistribution)
export(marginal.mnormalexpgamma)
export(marginal.mnormalgamma)
export(marginal.mnormal)
export(marginal.mtdistribution)
export(marginal.muniformdistribution)
export(marginal.normalexpgamma)
export(marginal.normalgamma)
export(marginal)
export(mdiscretedistribution)
export(mnormalexpgamma)
export(mnormalgamma)
export(mnormal)
export(mtdistribution)
export(muniformdistribution)
export(normalexpgamma)
export(normalgamma)
export(normal)
S3method(plot,betabinomial)
S3method(plot,betadistribution)
S3method(plot,binomialbeta)
S3method(plot,binomialdistribution)
S3method(plot,discretedistribution)
S3method(plot,expgamma)
S3method(plot,fdistribution)
S3method(plot,gammadistribution)
S3method(plot,mdiscretedistribution)
S3method(plot,mnormalexpgamma)
S3method(plot,mnormalgamma)
S3method(plot,mnormal)
S3method(plot,mtdistribution)
S3method(plot,muniformdistribution)
S3method(plot,normalexpgamma)
S3method(plot,normalgamma)
S3method(plot,normal)
S3method(plot,poissondistribution)
S3method(plot,tdistribution)
S3method(plot,uniformdistribution)
export(poissondistribution)
export(posteriornormal1)
export(posteriornormal2)
export(precision.betabinomial)
export(precision.betadistribution)
export(precision.binomialdistribution)
export(precision.default)
export(precision.discretedistribution)
export(precision.expgamma)
export(precision.fdistribution)
export(precision.gammadistribution)
export(precision.mdiscretedistribution)
export(precision.mnormalexpgamma)
export(precision.mnormalgamma)
export(precision.mnormal)
export(precision.mtdistribution)
export(precision.muniformdistribution)
export(precision.normalexpgamma)
export(precision.normalgamma)
export(precision.normal)
export(precision.poissondistribution)
export(precision)
export(precision.tdistribution)
export(precision.uniformdistribution)
S3method(print,betabinomial)
S3method(print,betadistribution)
S3method(print,binomialbeta)
S3method(print,binomialdistribution)
S3method(print,discretedistribution)
S3method(print,expgamma)
S3method(print,fdistribution)
S3method(print,gammadistribution)
S3method(print,mdiscretedistribution)
S3method(print,mnormalexpgamma)
S3method(print,mnormalgamma)
S3method(print,mnormal)
S3method(print,mtdistribution)
S3method(print,muniformdistribution)
S3method(print,normalexpgamma)
S3method(print,normalgamma)
S3method(print,normal)
S3method(print,poissondistribution)
S3method(print,tdistribution)
S3method(print,uniformdistribution)
export(probability.betabinomial)
export(probability.binomialdistribution)
export(probability.default)
export(probabilitydensity.betadistribution)
export(probabilitydensity.default)
export(probabilitydensity.expgamma)
export(probabilitydensity.fdistribution)
export(probabilitydensity.gammadistribution)
export(probabilitydensity.mnormalexpgamma)
export(probabilitydensity.mnormalgamma)
export(probabilitydensity.mnormal)
export(probabilitydensity.mtdistribution)
export(probabilitydensity.muniformdistribution)
export(probabilitydensity.normalexpgamma)
export(probabilitydensity.normalgamma)
export(probabilitydensity.normal)
export(probabilitydensity)
export(probabilitydensity.tdistribution)
export(probabilitydensity.uniformdistribution)
export(probability.discretedistribution)
export(probability.mdiscretedistribution)
export(probability.poissondistribution)
export(probability)
export(p.value.default)
export(p.value.expgamma)
export(p.value.fdistribution)
export(p.value.gammadistribution)
export(p.value.mnormal)
export(p.value.mtdistribution)
export(p.value.normal)
export(p.value)
export(p.value.tdistribution)
importFrom(stats, simulate)
importFrom(MASS, ginv)
S3method(simulate,betabinomial)
S3method(simulate,betadistribution)
S3method(simulate,binomialbeta)
S3method(simulate,binomialdistribution)
S3method(simulate,discretedistribution)
S3method(simulate,expgamma)
S3method(simulate,fdistribution)
S3method(simulate,gammadistribution)
S3method(simulate,mdiscretedistribution)
S3method(simulate,mnormalexpgamma)
S3method(simulate,mnormalgamma)
S3method(simulate,mnormal)
S3method(simulate,mtdistribution)
S3method(simulate,muniformdistribution)
S3method(simulate,normalexpgamma)
S3method(simulate,normalgamma)
S3method(simulate,normal)
S3method(simulate,poissondistribution)
S3method(simulate,tdistribution)
S3method(simulate,uniformdistribution)
S3method(summary,betabinomial)
S3method(summary,betadistribution)
S3method(summary,binomialbeta)
S3method(summary,binomialdistribution)
S3method(summary,discretedistribution)
S3method(summary,expgamma)
S3method(summary,fdistribution)
S3method(summary,gammadistribution)
S3method(summary,mdiscretedistribution)
S3method(summary,mnormalexpgamma)
S3method(summary,mnormalgamma)
S3method(summary,mnormal)
S3method(summary,mtdistribution)
S3method(summary,muniformdistribution)
S3method(summary,normalexpgamma)
S3method(summary,normalgamma)
S3method(summary,normal)
S3method(summary,poissondistribution)
S3method(summary,tdistribution)
S3method(summary,uniformdistribution)
export(tdistribution)
export(uniformdistribution)
export(variance.betabinomial)
export(variance.betadistribution)
export(variance.binomialdistribution)
export(variance.default)
export(variance.discretedistribution)
export(variance.expgamma)
export(variance.fdistribution)
export(variance.gammadistribution)
export(variance.mdiscretedistribution)
export(variance.mnormalexpgamma)
export(variance.mnormalgamma)
export(variance.mnormal)
export(variance.mtdistribution)
export(variance.muniformdistribution)
export(variance.normalexpgamma)
export(variance.normalgamma)
export(variance.normal)
export(variance.poissondistribution)
export(variance)
export(variance.tdistribution)
export(variance.uniformdistribution)
