importFrom("graphics", "abline", "contour", "image", "lines", "par", "plot", "text")
 importFrom("stats", "dbeta", "dbinom", "df", "dgamma", "dmultinom","dnorm", "dpois", "dt", "pbeta", "pbinom", "pchisq", "pf","pgamma", "pnorm", "ppois", "pt", "qbeta", "qbinom", "qf",
  "qgamma", "qnorm", "qpois", "qt", "rbeta", "rbinom", "rf",
  "rgamma", "rmultinom", "rnorm", "rpois", "rt", "runif")
export(anovatable)
export(betadistribution)
export(betabinomial)
export(binomialbeta)
export(binomialdistribution)
S3method(cdf, betabinomial)
export(cdf.betabinomial)
S3method(cdf, betadistribution)
export(cdf.betadistribution)
S3method(cdf, binomialdistribution)
export(cdf.binomialdistribution)
S3method(cdf, default)
export(cdf.default)
S3method(cdf, discretedistribution)
export(cdf.discretedistribution)
S3method(cdf, expgamma)
export(cdf.expgamma)
S3method(cdf, fdistribution)
export(cdf.fdistribution)
S3method(cdf, gammadistribution)
export(cdf.gammadistribution)
S3method(cdf, normal)
export(cdf.normal)
S3method(cdf, poissondistribution)
export(cdf.poissondistribution)
export(cdf)
S3method(cdf, tdistribution)
export(cdf.tdistribution)
S3method(cdf, uniformdistribution)
export(cdf.uniformdistribution)
export(compose)
S3method(compose, default)
export(compose.default)
S3method(compose, discretedistribution)
export(compose.discretedistribution)
S3method(compose, uniformdistribution)
export(compose.uniformdistribution)
S3method(compose, normal)
export(compose.normal)
S3method(conditional, default)
export(conditional.default)
S3method(conditional, binomialbeta)
export(conditional.binomialbeta)
S3method(conditional, mdiscretedistribution)
export(conditional.mdiscretedistribution)
S3method(conditional, mnormalexpgamma)
export(conditional.mnormalexpgamma)
S3method(conditional, mnormalgamma)
export(conditional.mnormalgamma)
S3method(conditional, mnormal)
export(conditional.mnormal)
S3method(conditional, mtdistribution)
export(conditional.mtdistribution)
S3method(conditional, muniformdistribution)
export(conditional.muniformdistribution)
S3method(conditional, normalexpgamma)
export(conditional.normalexpgamma)
S3method(conditional, normalgamma)
export(conditional.normalgamma)
export(conditional)
S3method(contrast, default)
export(contrast.default)
S3method(contrast, mnormalexpgamma)
export(contrast.mnormalexpgamma)
S3method(contrast, mnormalgamma)
export(contrast.mnormalgamma)
export(contrast)
S3method(credibilityinterval, default)
export(credibilityinterval.default)
S3method(credibilityinterval, expgamma)
export(credibilityinterval.expgamma)
S3method(credibilityinterval, fdistribution)
export(credibilityinterval.fdistribution)
S3method(credibilityinterval, gammadistribution)
export(credibilityinterval.gammadistribution)
S3method(credibilityinterval, normal)
export(credibilityinterval.normal)
S3method(credibilityinterval, betadistribution)
export(credibilityinterval.betadistribution)
export(credibilityinterval)
S3method(credibilityinterval, tdistribution)
export(credibilityinterval.tdistribution)
export(designBalanced)
export(designFactorial)
export(designManyGroups)
export(designOneGroup)
export(designTwoGroups)
S3method(difference, default)
export(difference.default)
S3method(difference, normal)
export(difference.normal)
export(difference)
S3method(difference, tdistribution)
export(difference.tdistribution)
export(discretedistribution)
S3method(expectation, betadistribution)
export(expectation.betadistribution)
S3method(expectation, betabinomial)
export(expectation.betabinomial)
S3method(expectation, binomialdistribution)
export(expectation.binomialdistribution)
S3method(expectation, default)
export(expectation.default)
S3method(expectation, discretedistribution)
export(expectation.discretedistribution)
S3method(expectation, expgamma)
export(expectation.expgamma)
S3method(expectation, fdistribution)
export(expectation.fdistribution)
S3method(expectation, gammadistribution)
export(expectation.gammadistribution)
S3method(expectation, mdiscretedistribution)
export(expectation.mdiscretedistribution)
S3method(expectation, mnormalexpgamma)
export(expectation.mnormalexpgamma)
S3method(expectation, mnormalgamma)
export(expectation.mnormalgamma)
S3method(expectation, mnormal)
export(expectation.mnormal)
S3method(expectation, mtdistribution)
export(expectation.mtdistribution)
S3method(expectation, muniformdistribution)
export(expectation.muniformdistribution)
S3method(expectation, normalexpgamma)
export(expectation.normalexpgamma)
S3method(expectation, normalgamma)
export(expectation.normalgamma)
S3method(expectation, normal)
export(expectation.normal)
S3method(expectation, poissondistribution)
export(expectation.poissondistribution)
export(expectation)
S3method(expectation, tdistribution)
export(expectation.tdistribution)
S3method(expectation, uniformdistribution)
export(expectation.uniformdistribution)
export(expgamma)
export(fdistribution)
export(fittedvalues)
export(gammadistribution)
S3method(invcdf, betadistribution)
export(invcdf.betadistribution)
S3method(invcdf, binomialdistribution)
export(invcdf.binomialdistribution)
S3method(invcdf, default)
export(invcdf.default)
S3method(invcdf, discretedistribution)
export(invcdf.discretedistribution)
S3method(invcdf, expgamma)
export(invcdf.expgamma)
S3method(invcdf, fdistribution)
export(invcdf.fdistribution)
S3method(invcdf, gammadistribution)
export(invcdf.gammadistribution)
S3method(invcdf, normal)
export(invcdf.normal)
S3method(invcdf, poissondistribution)
export(invcdf.poissondistribution)
export(invcdf)
S3method(invcdf, tdistribution)
export(invcdf.tdistribution)
S3method(invcdf, uniformdistribution)
export(invcdf.uniformdistribution)
export(leastsquares)
export(linearmodel)
S3method(linearpredict, default)
export(linearpredict.default)
S3method(linearpredict, mnormalexpgamma)
export(linearpredict.mnormalexpgamma)
S3method(linearpredict, mnormalgamma)
export(linearpredict.mnormalgamma)
S3method(linearpredict, mnormal)
export(linearpredict.mnormal)
S3method(linearpredict, normalexpgamma)
export(linearpredict.normalexpgamma)
S3method(linearpredict, normalgamma)
export(linearpredict.normalgamma)
S3method(linearpredict, normal)
export(linearpredict.normal)
export(linearpredict)
S3method(marginal, default)
export(marginal.default)
S3method(marginal, binomialbeta)
export(marginal.binomialbeta)
S3method(marginal, mdiscretedistribution)
export(marginal.mdiscretedistribution)
S3method(marginal, mnormalexpgamma)
export(marginal.mnormalexpgamma)
S3method(marginal, mnormalgamma)
export(marginal.mnormalgamma)
S3method(marginal, mnormal)
export(marginal.mnormal)
S3method(marginal, mtdistribution)
export(marginal.mtdistribution)
S3method(marginal, muniformdistribution)
export(marginal.muniformdistribution)
S3method(marginal, normalexpgamma)
export(marginal.normalexpgamma)
S3method(marginal, normalgamma)
export(marginal.normalgamma)
export(marginal)
export(mdiscretedistribution)
export(mnormalexpgamma)
export(mnormalgamma)
export(mnormal)
export(mtdistribution)
export(muniformdistribution)
export(normalexpgamma)
export(normalgamma)
export(normal)
S3method(plot,betabinomial)
S3method(plot,betadistribution)
S3method(plot,binomialbeta)
S3method(plot,binomialdistribution)
S3method(plot,discretedistribution)
S3method(plot,expgamma)
S3method(plot,fdistribution)
S3method(plot,gammadistribution)
S3method(plot,mdiscretedistribution)
S3method(plot,mnormalexpgamma)
S3method(plot,mnormalgamma)
S3method(plot,mnormal)
S3method(plot,mtdistribution)
S3method(plot,muniformdistribution)
S3method(plot,normalexpgamma)
S3method(plot,normalgamma)
S3method(plot,normal)
S3method(plot,poissondistribution)
S3method(plot,tdistribution)
S3method(plot,uniformdistribution)
export(poissondistribution)
export(posteriornormal1)
export(posteriornormal2)
S3method(precision, betabinomial)
export(precision.betabinomial)
S3method(precision, betadistribution)
export(precision.betadistribution)
S3method(precision, binomialdistribution)
export(precision.binomialdistribution)
S3method(precision, default)
export(precision.default)
S3method(precision, discretedistribution)
export(precision.discretedistribution)
S3method(precision, expgamma)
export(precision.expgamma)
S3method(precision, fdistribution)
export(precision.fdistribution)
S3method(precision, gammadistribution)
export(precision.gammadistribution)
S3method(precision, mdiscretedistribution)
export(precision.mdiscretedistribution)
S3method(precision, mnormalexpgamma)
export(precision.mnormalexpgamma)
S3method(precision, mnormalgamma)
export(precision.mnormalgamma)
S3method(precision, mnormal)
export(precision.mnormal)
S3method(precision, mtdistribution)
export(precision.mtdistribution)
S3method(precision, muniformdistribution)
export(precision.muniformdistribution)
S3method(precision, normalexpgamma)
export(precision.normalexpgamma)
S3method(precision, normalgamma)
export(precision.normalgamma)
S3method(precision, normal)
export(precision.normal)
S3method(precision, poissondistribution)
export(precision.poissondistribution)
export(precision)
S3method(precision, tdistribution)
export(precision.tdistribution)
S3method(precision, uniformdistribution)
export(precision.uniformdistribution)
S3method(print,betabinomial)
S3method(print,betadistribution)
S3method(print,binomialbeta)
S3method(print,binomialdistribution)
S3method(print,discretedistribution)
S3method(print,expgamma)
S3method(print,fdistribution)
S3method(print,gammadistribution)
S3method(print,mdiscretedistribution)
S3method(print,mnormalexpgamma)
S3method(print,mnormalgamma)
S3method(print,mnormal)
S3method(print,mtdistribution)
S3method(print,muniformdistribution)
S3method(print,normalexpgamma)
S3method(print,normalgamma)
S3method(print,normal)
S3method(print,poissondistribution)
S3method(print,tdistribution)
S3method(print,uniformdistribution)
S3method(probability, betabinomial)
export(probability.betabinomial)
S3method(probability, binomialdistribution)
export(probability.binomialdistribution)
S3method(probability, default)
export(probability.default)
S3method(probabilitydensity, betadistribution)
export(probabilitydensity.betadistribution)
S3method(probabilitydensity, default)
export(probabilitydensity.default)
S3method(probabilitydensity, expgamma)
export(probabilitydensity.expgamma)
S3method(probabilitydensity, fdistribution)
export(probabilitydensity.fdistribution)
S3method(probabilitydensity, gammadistribution)
export(probabilitydensity.gammadistribution)
S3method(probabilitydensity, mnormalexpgamma)
export(probabilitydensity.mnormalexpgamma)
S3method(probabilitydensity, mnormalgamma)
export(probabilitydensity.mnormalgamma)
S3method(probabilitydensity, mnormal)
export(probabilitydensity.mnormal)
S3method(probabilitydensity, mtdistribution)
export(probabilitydensity.mtdistribution)
S3method(probabilitydensity, muniformdistribution)
export(probabilitydensity.muniformdistribution)
S3method(probabilitydensity, normalexpgamma)
export(probabilitydensity.normalexpgamma)
S3method(probabilitydensity, normalgamma)
export(probabilitydensity.normalgamma)
S3method(probabilitydensity, normal)
export(probabilitydensity.normal)
export(probabilitydensity)
S3method(probabilitydensity, tdistribution)
export(probabilitydensity.tdistribution)
S3method(probabilitydensity, uniformdistribution)
export(probabilitydensity.uniformdistribution)
S3method(probability, discretedistribution)
export(probability.discretedistribution)
S3method(probability, mdiscretedistribution)
export(probability.mdiscretedistribution)
S3method(probability, poissondistribution)
export(probability.poissondistribution)
export(probability)
S3method(p.value, default)
export(p.value.default)
S3method(p.value, expgamma)
export(p.value.expgamma)
S3method(p.value, fdistribution)
export(p.value.fdistribution)
S3method(p.value, gammadistribution)
export(p.value.gammadistribution)
S3method(p.value, mnormal)
export(p.value.mnormal)
S3method(p.value, mtdistribution)
export(p.value.mtdistribution)
S3method(p.value, normal)
export(p.value.normal)
export(p.value)
S3method(p.value, tdistribution)
export(p.value.tdistribution)
importFrom(stats, simulate)
importFrom(MASS, ginv)
S3method(simulate,betabinomial)
S3method(simulate,betadistribution)
S3method(simulate,binomialbeta)
S3method(simulate,binomialdistribution)
S3method(simulate,discretedistribution)
S3method(simulate,expgamma)
S3method(simulate,fdistribution)
S3method(simulate,gammadistribution)
S3method(simulate,mdiscretedistribution)
S3method(simulate,mnormalexpgamma)
S3method(simulate,mnormalgamma)
S3method(simulate,mnormal)
S3method(simulate,mtdistribution)
S3method(simulate,muniformdistribution)
S3method(simulate,normalexpgamma)
S3method(simulate,normalgamma)
S3method(simulate,normal)
S3method(simulate,poissondistribution)
S3method(simulate,tdistribution)
S3method(simulate,uniformdistribution)
S3method(summary,betabinomial)
S3method(summary,betadistribution)
S3method(summary,binomialbeta)
S3method(summary,binomialdistribution)
S3method(summary,discretedistribution)
S3method(summary,expgamma)
S3method(summary,fdistribution)
S3method(summary,gammadistribution)
S3method(summary,mdiscretedistribution)
S3method(summary,mnormalexpgamma)
S3method(summary,mnormalgamma)
S3method(summary,mnormal)
S3method(summary,mtdistribution)
S3method(summary,muniformdistribution)
S3method(summary,normalexpgamma)
S3method(summary,normalgamma)
S3method(summary,normal)
S3method(summary,poissondistribution)
S3method(summary,tdistribution)
S3method(summary,uniformdistribution)
export(tdistribution)
export(uniformdistribution)
S3method(variance, betabinomial)
export(variance.betabinomial)
S3method(variance, betadistribution)
export(variance.betadistribution)
S3method(variance, binomialdistribution)
export(variance.binomialdistribution)
S3method(variance, default)
export(variance.default)
S3method(variance, discretedistribution)
export(variance.discretedistribution)
S3method(variance, expgamma)
export(variance.expgamma)
S3method(variance, fdistribution)
export(variance.fdistribution)
S3method(variance, gammadistribution)
export(variance.gammadistribution)
S3method(variance, mdiscretedistribution)
export(variance.mdiscretedistribution)
S3method(variance, mnormalexpgamma)
export(variance.mnormalexpgamma)
S3method(variance, mnormalgamma)
export(variance.mnormalgamma)
S3method(variance, mnormal)
export(variance.mnormal)
S3method(variance, mtdistribution)
export(variance.mtdistribution)
S3method(variance, muniformdistribution)
export(variance.muniformdistribution)
S3method(variance, normalexpgamma)
export(variance.normalexpgamma)
S3method(variance, normalgamma)
export(variance.normalgamma)
S3method(variance, normal)
export(variance.normal)
S3method(variance, poissondistribution)
export(variance.poissondistribution)
export(variance)
S3method(variance, tdistribution)
export(variance.tdistribution)
S3method(variance, uniformdistribution)
export(variance.uniformdistribution)
